html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h2, h3 {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    flex-grow: 1; /* Allows main content to grow and push footer down */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto; /* Pushes the footer to the bottom */
}

/* allign login fields to middle and make them look good */
.login-form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.login-form h3 {
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}

.login-form button {
    width: 100%;
    padding: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 1em;
}

.login-form button:hover {
    background-color: #444;
}

.login-form .error {
    color: red;
    font-weight: bold;
    margin-bottom: 1em;
}

.login-form .success {
    color: green;
    font-weight: bold;
    margin-bottom: 1em;
}

h1 {
    font-size: 2em; /* 2 times the size of the base font */
}

h2 {
    font-size: 1.5em; /* 1.5 times the size of the base font */
}

h3 {
    font-size: 1.17em; /* 1.17 times the size of the base font */
}


