
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h2, h3 {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    flex-grow: 1; /* Allows main content to grow and push footer down */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto; /* Pushes the footer to the bottom */
}

/* show the table in a beter format,beautify the table  */
table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

h1 {
    font-size: 2em; /* 2 times the size of the base font */
}

h2 {
    font-size: 1.5em; /* 1.5 times the size of the base font */
}

h3 {
    font-size: 1.17em; /* 1.17 times the size of the base font */
}