
/*ctrl+f5 to force refresh on browser to reflect css immediately */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h2, h3 {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    flex-grow: 1; /* Allows main content to grow and push footer down */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.product-item  {
    width: 100%;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 10px; /* Add margin for spacing */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    justify-content: space-between; /* This will push the button to the bottom */
}

.product-item img {
    width: 100%;
    height: 220px; /* Set a fixed height */
    object-fit: cover; /* This will cover the area, cropping the image as needed */
}

.product-item h4,
.product-item p {
    margin: 5px 0; /* Adjust the margin as needed */
}

.product-item .description {
    /* Sets a fixed height for all descriptions */
    height: 4.5em; /* Adjust this value to fit the typical amount of text */
    overflow: hidden; /* Hides overflow */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits the content to 3 lines */
    -webkit-box-orient: vertical;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/* Search Bar Styles */
.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

/* Category Selector Styles */
.category-container {
    text-align: center;
    margin: 20px 0;
}

.category-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

h1 {
    font-size: 2em; /* 2 times the size of the base font */
}

h2 {
    font-size: 1.5em; /* 1.5 times the size of the base font */
}

h3 {
    font-size: 1.17em; /* 1.17 times the size of the base font */
}